@page
@model MadStickWebAppTester.Pages.EndpointPermissions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EndpointPermission[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EndpointPermission) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EndpointPermissionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EndpointPermissionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EndpointPermissionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
